In [24]:
from collections import Counter
import pandas as pd
import os
import ast

In [25]:
df = pd.read_csv(os.path.abspath('../data/places_details.csv'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4128 entries, 0 to 4127
Data columns (total 20 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               4128 non-null   int64
 1   id                                       4128 non-null   object
 2   types                                    4126 non-null   object
 3   internationalPhoneNumber                 2594 non-null   object
 4   formattedAddress                         4128 non-null   object
 5   rating                                   3753 non-null   float64
 6   googleMapsUri                            4128 non-null   object
 7   websiteUri                               1152 non-null   object
 8   userRatingCount                          3753 non-null   float64
 9   primaryType                              4070 non-null   object
 10  shortFormattedAddress                    4126 non-null   object
 11  location.latitude                        4128 non-null   float64
 12  location.longitude                       4128 non-null   float64
 13  regularOpeningHours.weekdayDescriptions  2968 non-null   object
 14  displayName.text                         4128 non-null   object
 15  displayName.languageCode                 4128 non-null   object
 16  primaryTypeDisplayName.text              4070 non-null   object
 17  priceRange.startPrice.units              1183 non-null   float64
 18  priceRange.endPrice.units                1123 non-null   float64
 19  priceLevel                               882 non-null    object
dtypes: float64(6), int64(1), object(13)
memory usage: 645.1+ KB

In [26]:
df['types'] = df['types'].fillna("[]").apply(ast.literal_eval)
category_counts = Counter([cat for sublist in df['types'] for cat in sublist])

# Get the top 20 most common categories
top_20_categories = category_counts.most_common(20)
top_20_categories

[('point_of_interest', 4120),
 ('establishment', 4120),
 ('food', 2613),
 ('restaurant', 1540),
 ('cafe', 1195),
 ('tourist_attraction', 764),
 ('store', 697),
 ('food_store', 618),
 ('coffee_shop', 569),
 ('museum', 273),
 ('art_gallery', 269),
 ('fast_food_restaurant', 187),
 ('seafood_restaurant', 138),
 ('historical_place', 133),
 ('historical_landmark', 124),
 ('barbecue_restaurant', 114),
 ('park', 70),
 ('breakfast_restaurant', 68),
 ('japanese_restaurant', 68),
 ('pizza_restaurant', 52)]

In [27]:
primary_type_counts = df['primaryTypeDisplayName.text'].value_counts()

# Get the top 20 most common categories
top_20_primary_types = primary_type_counts.head(20)
top_20_primary_types

primaryTypeDisplayName.text
Restaurant              829
Tourist Attraction      621
Cafe                    598
Coffee Shop             513
Museum                  258
Art Gallery             249
Seafood Restaurant      126
Barbecue Restaurant     109
Historical Landmark     108
Fast Food Restaurant     99
Japanese Restaurant      55
Pizza Restaurant         38
Italian Restaurant       32
Park                     31
Monument                 24
Sandwich Shop            24
Store                    17
Home Goods Store         17
Dessert Shop             17
Furniture Store          16
Name: count, dtype: int64